body {
  font-family: 'Montserrat', sans-serif;
  color: rgb(20, 20, 20);
  background-color: rgb(245, 245, 245);
  margin: 0;
}
.badge {
  width: 15%;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 2;
  box-shadow: 0 0 4px 0px;
}
.intro {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.big-card {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

.big-card p {
  font-size: 24px;
  font-weight: bolder;
}
.page {
  position: relative;

}
.catch {
  height: 100%;
  display: flex;
}
.left {
}
/*////////*/
html, body { height: 100% }


.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
