body {
  font-family: 'Montserrat', sans-serif;
  color: rgb(20, 20, 20);
  background-color: rgb(245, 245, 245);
  margin: 0;
}
p {
  font-size: 16px;
}
a{
  color: #E54B4B;
  text-decoration: none;
}
.badge {
  width: 15%;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 2;
  box-shadow: 0 0 4px 0px;
}
.intro {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button-c {
  border: 1px solid;
  padding: 13px;
  border-radius: 2px;
}
.center {

}
.big-card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

.big-card p {
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
}
.page {
  position: relative;
  width: 100%;
}
.big-pic{
  height: 100%;

}
.catch {
  height: 100%;
  display: flex;
  background-color: white;
}
.left {
  flex: 1 0;
  width: 50%;
  align-self: center;
  max-height: 100vh;
  display: inline-block;
  overflow: hidden;
}
.right {
  background-color: white;
  color: rgba(25, 25, 25);
  flex: 1 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  position: relative;
}
.meet{
  text-align: justify;
  padding: 0 10%;
}
.about-me {
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.6em;
}
.catchphrase {
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
}
.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.my-background {
  padding: 2% 3%;
  display: flex;
  background-color: rgba(250, 250, 250, 0.7);
}
.story {
  padding: 1% 3%;
  flex: 1 0;
  text-align: justify;
  line-height: 1.5em;
}
.story h2 {
  text-align: center;
  line-height: 1.6em;
}
.story:first-child {
  border-right: 1px solid darkgrey;
  padding: 1% 3% 1% 1%;
}
.story:last-child {
  padding: 1% 1% 1% 3%;
}

.pic {
  flex: 1 0;
}
