/*font-family: 'Montserrat', sans-serif;
font-family: 'Indie Flower', cursive;
*/
body {
  font-family: 'Montserrat', sans-serif;
  color: rgb(20, 20, 20);
  background-image: linear-gradient(to right top, #cec0e5, #bbbae8, #a3b6ea, #85b2ea, #5dafe7);
}

h1 {
  font-family: 'Indie Flower', cursive;
}

a {
  text-decoration: none;
}

.page {
  padding: 0 3%;
  margin-top: 10vh;
}

.licenses {
  font-size: 10px;
}

.catch {
  margin: 25px 0 0 0;
  text-align: center;
}

.my-background {
  display: flex;
  justify-content: space-between;
  /*flex-wrap: wrap;*/
  width: 80vw;
}

.inter {
  /*margin-left: 25px;*/
}

.inter h1 {
  margin-bottom: 0px;
}

.story {
  padding: 0 10px 10px 10px;
  flex: 1 0 400px;
  text-align: justify;
  background: white;
  border-radius: 25px;
}

.story p {
  font-size: 15px;
}

.story h2 {
  text-align: center;
}

.about-me {
  padding: 10px 25px;
  text-align: justify;
  width: 60vw;
  margin: 0 auto;
  background: white;
  border-radius: 25px;
  opacity: 0.8;

}

.catchphrase {
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
}
